<%= form_for(@workorder) do |f| %>
  <% if @workorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workorder.errors.count, "error") %> prohibited this workorder from being saved:</h2>

      <ul>
      <% @workorder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PID %><br>
    <%= f.number_field :PID %>
  </div>
  <div class="field">
    <%= f.label :crewnum %><br>
    <%= f.number_field :crewnum %>
  </div>
  <div class="field">
    <%= f.label :assigned_equipment %><br>
    <%= f.text_field :assigned_equipment %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.number_field :hours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
